<h1 class='heading-1'><%= @goal.name %></h1>

<p class='paragraph mb-4x'>
  <% if @goal.length > 1 %>
    <%= @human_length.capitalize %> seasons to bear fruit
  <% else %>
    One season to bear fruit
  <% end %>
</p>

<p class='paragraph mt-4'>
  <% if @goal.completed %>
    This seed can be harvested!
    <%# TODO: add harvesting feature %>
  <% end %>
</p>

<span class="block text-md my-8 p-4 bg-emerald-100 text-emerald-600 rounded-lg">
  <strong>Reflect gently on what you've sown.</strong>
  When you're ready, return to the Garden.
</span>

<div class='flex gap-8 mt-8'>
  <%= link_to 'Return to the Garden', goals_path, class: 'btn-secondary' %>
  <%= link_to 'Prune', edit_goal_path(@goal), class: 'btn-secondary' %>
  <%= link_to 'Uproot', goal_path(@goal), data: {
    turbo_method: :delete,
    turbo_confirm: "Do you want to uproot this plant? This cannot be reversed."
  }, class: 'btn-secondary' %>
</div>
